body {
  margin: 0;
  padding: 0;
  font-family: 'Times New Roman', Times, serif;
  background-color: black;
}

#cancel_button {
  display: block;
  position: absolute;
  top: 50vh;
  left: 50vw;
  z-index: 10;
  margin-left: -240px;
  margin-top: -20px;
  color: red;
  font-size: 38px;
  white-space: nowrap;
  text-align: center;
  cursor: pointer;
}

#antivirus {
  width: auto;
  height: 100vh;
  margin: 0 auto;
  display: none;
}

body.antivirus #cancel_button {
  display: none;
}

body.antivirus #antivirus {
  display: block;
}
